[submodule "vim_conf/janus/vim-powerline"]
	path = vim_conf/janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim_conf/janus/rope-omni"]
	path = vim_conf/janus/rope-omni
	url = git://github.com/rygwdn/rope-omni.git
[submodule "vim_conf/vim"]
	path = vim_conf/vim
	url = https://github.com/carlhuda/janus.git
